/* Universal Styles */
html {
  font-size: 16px;
}
body {
  font-family: "Roboto", sans-serif;
  color: hsl(0, 0%, 30%)
}
.bold {
  font-weight: 700;
}
.light {
  font-weight: 300;
  color: hsl(0, 0%, 60%);
}
.container {
  padding-left: 2rem;
  display: flex;
  align-items: center;

}
.flex {
  display: flex;
  align-items: center;
}
.banner {
  display: flex;
  justify-content: left;
  padding-left: 2rem;
}
.bannermedia {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
}
.bannermedia img, video {
  width: 100%;
  height: auto;
  margin: 2rem 0;
}
.sidebar {
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
}
.main2 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1em;

}
/* HEADER */
header {
  height: 4rem;
  font-size: 1.5rem;
}
header img {
  height: 3.5rem;
  width: auto;
}
header.container {
  justify-content: space-between;
}
header nav span {
  font-size: 1.25rem;
  margin-right: 1rem;
}
header nav span:last-child {
  margin-right: 2rem;
}
/*"START HERE" BANNER #1*/
.first {
  background-color: hsl(0, 0%, 85%);
}
.main {
  justify-content: center;
}
#slogan {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1em;
  margin-bottom: 1.5rem;
  width: 90%;
}
#nothing {
  font-size: 1.5rem;
  width: 80%;
  margin-bottom: 1.5rem;
  letter-spacing: 1.25px;
}
#start {
  font-size: 1.25rem;
  color: hsl(0, 0%, 85%);
  text-align: center;
  width: 90%;
  padding: 1rem 0;
  background-color: hsl(0, 0%, 30%);
}

/*INFORMATION BANNER #2*/
.practice {
  margin: 0 0 1.5rem 0;
}
#nothing2 {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  font-style: italic;
  font-weight: 300;
}
#emmanuel {
  font-size: 1rem;
  margin-bottom: 2rem;
}
div.container.sidebar.second {
  border-left: solid 1px hsl(0, 0%, 85%);
  padding-left: 0;
  margin-left: 2rem;
}
div.container.sidebar.second .items:first-child {
  border-bottom: solid 4px hsl(0, 0%, 90%);
  margin-top: 2rem;
}
div.container.sidebar.second .items:last-child {
  background-color: hsl(0, 0%, 85%);
}
div.itemimage.orientation {
  margin-top: 0;

}
div.itemized.orientation{
  padding-top: 0;
}
.items {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.itemimage {
  width: 37%;
  height: auto;
  margin: 1rem;
}
.itemimage img {
  width: 100%;
  height: auto;
}
div.itemized {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 63%;
  padding-top: 1rem;
}
div.itemized span {
  font-weight: 300;
  line-height: 1.5;
}
div.itemized span:first-child {
  font-size: 1.25rem;
  font-weight: 400;
}
div.itemized span.readmore {
  color: hsl(203, 100%, 66%);
  font-weight: 500;
}

/*CLASSES BANNER #3*/
.classes {
  text-align: center;
  margin-top: 2rem;
}

/*THESIS EXHIBIT BANNER #4*/
.thesis {
  text-align: center;
  margin-top: 2rem;
}
div.container.sidebar.fourth .items:first-child {
  background-color: hsl(0, 0%, 85%);
  margin-top: 2rem;
}
div.itemimage.fisma {

}

/*FOOTER*/
